/* DOS.css */

/* body {
  background: #909193 url(distrib/images/linen.png) repeat;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
} */

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

#display {
  background-color:#ffff;
  border: 2px solid rgb(117, 181, 193);
  cursor: default;
}

.normal_button {
  width: 100px;
}

.footerText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}

#jumbo {
  /* IE8 and below */
  background: rgb(200, 54, 54);
  /* all other browsers */
  background: rgba(200, 54, 54, 0.5);
}
#white {
  background: rgb(255, 255, 255);
}